@charset "utf-8";
/* CSS Document */

body {
	margin: auto 30px;
	text-align: justify;
   background-color: #d8d8d8;
}

.header {
   width: 100%;
   display: block;
   background-image: url(fleurs.jpg);
   background-size: cover;
   text-align: center;
   padding: 35px;
   height: 270px;
   margin-top: 5%;
   margin-left: -30px;
    
}


h1 {
	color: white;
   font-weight: bold;
   font-size: 75px;
   letter-spacing: 10px;
   font-family: Time New Roman;
   margin-top: -25px;
}

.identity h2 {
	color: white;
   margin-top: -2%;
   font-size: 27px;
   letter-spacing: 7px;
   font-weight: lighter;				
}

.tel {
   list-style-type: none;
   color: white;
   font-size: 20px;
   padding: 5px;
   margin-top: 4%;
}

.mail {
   list-style-type: none;
   padding: 5px;
}

.mail a {
  text-decoration: none;
  background: linear-gradient(to top, #D7EFE1 0%, #D7EFE1 40%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
  text-decoration: none;
   color: white;
   font-size: 20px;
}

.mail a:hover {
  background-size: 100% 100%;
}

.linkedin {
   list-style-type: none;
   padding: 5px;
}

.linkedin a {
   text-decoration: none;
  background: linear-gradient(to top, #D7EFE1 0%, #D7EFE1 40%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
   list-style-type: none;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.linkedin a:hover {
  background-size: 100% 100%;
}




h2 {
   font-weight: lighter;
   text-align: center;
   font-size: 40px;
   letter-spacing: 12px;
   margin-top: 64px;
   text-transform: uppercase;
   color: white;
}


.section1 p {
   color: black;
   text-align: center;
   width: 62%;
   display: block;
   margin: auto;
   font-size: 20px;
}

/* ---- Timeline ---- */
ol {
   position: relative;
   display: block;
   margin: 100px;
   height: 4px;
   background: #292F51;
}
ol::before,
ol::after {
   content: "";
   position: absolute;
   top: -8px;
   display: block;
   width: 0;
   height: 0;
  border-radius: 10px;
   border: 10px solid #292F51;
}
ol::before {
   left: -5px;
}
ol::after {
   right: -10px;
   border: 10px solid transparent;
   border-right: 0;
   border-left: 20px solid #292F51;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
.li_timeline {
   position: relative;
   display: inline-block;
   float: left;
   width: 150px;
   font: bold 14px arial;
  height: 50px;
}
li .annee {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}
li .point {
   content: "";
   top: -4px;
   left: 43%;
   display: block;
   width: 6px;
   height: 6px;
   border: 4px solid #292F51;
   border-radius: 10px;
   background: #fff;
  position: absolute;
}
li .description {
  display: none;
  background-color: #292F51;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
  color: white;
  font-size: 15px;
  text-align: left;
}
.description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #292F51;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
li:hover .description {
   cursor: pointer;
  color: white;
}
li:hover .description {
  display: block;
}

.section3 {
   display: flex;
  align-items: center;
  justify-content: center;
}

.section3 h2{
   margin: 50px;
}

.circle{
   border-radius: 50%;
   width: 160px;
   height: 160px;
   border: 7px solid #292F51;
   background: white;
   display: table;
   text-align: center; 
   margin: 5px;
}

.circle span {
   display: table-cell;
   vertical-align: middle;
   font-size: 20px;
   font-weight: bold;
   font-family: arial;
   color: #292F51;
}

.section4 {
   display: flex;
   margin: 0 8%;
}

.Entreprise {
   text-align: center;
   width: 35%;
   padding: 0 7%;
}

.Aro {
   font-size: 25px;
   font-weight: bold;
   color: #292F51;
}

.LBG {
   font-size: 25px;
   font-weight: bold;
   color: #292F51;
}

.description_entreprise {
   font-size: 17px;
}

.plane img {
   width: 50%;
}
.ordi img {
   width: 50%;
}
.book img {
   width: 50%;
}
.movie img {
   width: 50%;
}

.deux_icones1 {
   width: 16%;
   padding: 2% 0;
}
.deux_icones2 {
   width: 15%;
   padding: 2% 0;
}


